<div class="comment">
            <div class="h3Title">
                <h3>Title</h3>
            <p class="datePosted">posted by lorem at date</p>
            </div>
            
            <p> lorem ipsum dolor sit amet, consectet lorem ipsum dolor sit amet, consectet lorem ipsum dolor sit amet, consectet</p>
        </div>