<nav>
        <ul>
            <li>Home</li>
            <li>Dashboard</li>
            <li>Logout</li>
        </ul>
    </nav>
    <header>
            <h1>The Tech Blog</h1>
    </header>
    <section>
        
        {{#each comment}} 
        {{> comment}}
        {{/each}}
        
    </section>