body {
  margin: 0px;
  height: full;
  width: full;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav {
  background: rgb(32, 8, 5);
  height: 60px;
}

ul {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  margin-left: 20px;
  align-content: center;
  list-style: none;
  padding-top: 18px;
  font-size: 18px;

  color: white;
}

header {
  background: rgb(32, 8, 5);
  height: 90px;
  margin-bottom: 28px;
}

h1 {
  width: 260px;
  background: white;
  margin-top: 0px;
  margin-left: 60px;
  color: rgb(32, 8, 5);
  font-weight: bolder;
  box-shadow: 8px 5px 0px 2px grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.h3Title {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 40px;
  color: white;
  background-color: rgb(32, 8, 5);
  justify-content: space-between;
  align-items: center;
}
h3 {
  margin: 10px;
}
.datePosted {
  margin: 10px;
}

.comment {
  margin-left: 3%;
  margin-bottom: 20px;
  width: 95%;
  border: 2px;
  border-style: solid;
  border-color: rgb(32, 8, 5);
}

p {
  padding: 10px;
}
